.correct {
  font-weight: bold;
  color: rgb(47, 255, 75);
}
.incorrect {
  font-weight: bold;
  color: red;
}
.active {
  font-weight: bold;
  color: rgb(189, 26, 230);
}
.level1 {
  border-style: solid;
  border-width: 5px;
  border-color: aquamarine;
  padding: 20px;
}
.intro {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(236, 39, 177);
  
}
.intro1 {
  border-style: solid;
  border-width: 5px;
  border-color: rgb(223, 238, 16);
  
}
.timeSpeed{
  color: rgb(240, 161, 42);
}
